.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
logs/*
!logs/.gitkeep
generated/*
!generated/.gitkeep
trash/*
!trash/.gitkeep
!trash/data/.gitkeep
!trash/generated/.gitkeep
*.xlsx
!data/*.xlsx
.idea/
.vscode/
